/*リンクの形状
  サンプルコード：トップページリンク
  ページの指定の高さを超えたら下から出現 | 動くWebデザインアイディア帳
  https://coco-factory.jp/ugokuweb/move01/8-1-2/
*/
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#e5caca;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
	transition:all 0.3s;
}

#page-top a:hover{
	background: #f1dfdf;
}

/*リンクを右下に固定*/
#page-top {

  
	position: fixed;
	right: 25px ;
	bottom: 10px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(100px);
  }
}